body{
	height: 100vh;
	margin: 0;
	background-color: #FFD639;
}


header{
	display: flex;
	height: 28vh;
	background-color: #72C549;

  }

.logga{
	max-width: 500px;
	
}

.varukorgImg{
	max-width: 40px;
}

main{
	min-height: 80vh;

}

footer{
height: 5vh;
background-color: #72C549;
}



.productPicture{

	max-width: 300px;
	margin-top: 25px;
}

.productName{

}

.productDescription{
	margin-left: 10px;
	margin-right: 10px;

}

.productPrice{

}


.productBoxContainer{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    

}

.productBox{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	max-width: 350px;
	flex-direction: column;
	background-color: #94E56B;
	margin: 25px;
	
	
}

