body{
	height: 100vh;
	margin: 0;
	background-color: #FFD639;
}


header{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 15vh;
	background-color: #72C549;

  }

  button{
	margin: 10px;
	padding: 5px 10px;
	background-color: rgba(245, 245, 245, 0.886);
	cursor: pointer;
	border: 1px solid black;
	border-radius: 5px;

}

  .varukorg-link{
	margin-left: 3px;
	color: rgba(0, 0, 0, 0.752);
  }

.logga{
	display: flex;
	max-width: 260px;
	
	
}

.varukorgImg{
	max-width: 40px;
}

main{
	min-height: 80vh;

}

footer{
height: 5vh;
background-color: #72C549;
}


.productPicture{

	max-width: 300px;
	margin-top: 25px;
}



.productDescription{
	margin-left: 10px;
	margin-right: 10px;

}




.productBoxContainer{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    

}

.productBox{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	max-width: 350px;
	flex-direction: column;
	background-color: #94E56B;
	margin: 25px;
	
	
}

